---
- name: Gather facts needed for decisions
  ansible.builtin.setup:
    gather_subset:
      - min
      - network

# For Ubuntu, the reboot indicator file is created by update-notifier-common
- name: Check reboot-required file (Ubuntu/Debian)
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: maintenance_reboot_flag

# Make a unified boolean we can reuse
- name: "Set fact: maintenance_reboot_needed"
  ansible.builtin.set_fact:
    maintenance_reboot_needed: "{{ ansible_facts.get('reboot_required', false) or maintenance_reboot_flag.stat.exists | default(false) }}"
  changed_when: false
